@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #f1f5f9;
    --foreground: #171717;
    --warning: #ff4545;
    --success: #4ade80;
    --active: #eab308;
    --article-dark: #1f1f1f;
    --article-light: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
